.hamburger-btn {
  height: 1.6rem;
  width: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  background-color: unset;
  border: unset;
}

.hamburger-btn > div {
  background-color: black;
  width: 2rem;
  height: 0.25rem;
}
