.menu {
  height: 100vh;
  max-width: 300px;
  width: 50vw;
  transform: translateX(-110%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: transform 0.3s ease-in-out;
  border-radius: 0.7rem;
  box-shadow: 6px 1px 14px 1px rgb(0 0 0 / 25%);
  background-color: whitesmoke;
}

.menu-open {
  transform: translateX(0) !important;
}

.close-btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.close-btn {
  margin: 1.2rem;
  background-color: unset;
  border: unset;
  cursor: pointer;
  font-size: 2rem;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  font-size: 2rem;
  padding: 1rem 0 1rem 0.8rem;
  cursor: pointer;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  transition: color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  transition: padding-left 0.1s ease-in-out;
}

li:hover {
  background-color: black;
  color: white;
  padding-left: 2.5rem;
  font-weight: 600;
}

@media (max-width: 600px) {
  .menu {
    width: 90vw;
    max-width: unset;
  }
}
